*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 172, 249);
  background: linear-gradient(
    90deg,
    rgba(0, 172, 249, 1) 0%,
    rgba(133, 56, 28, 1) 32%,
    rgba(38, 140, 10, 1) 100%
  );
  /* background-image: url("./back.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply; */

  /* display: inline-block; */
  /* background-repeat: repeat-y; */
  /* font-family: sans-serif; */
}

.ctr {
  /* margin: 0;
  padding: 0; */
  background-color: rgb(5, 5, 5);
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 10px;
  /* -webkit-box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
  box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53); */
}

.title {
  margin: 0;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 6rem;
  animation: headingAnimate 4s linear;
  /* color: whitesmoke; */
  font-family: "Modak", cursive;
  padding: 0;
}

@keyframes headingAnimate {
  0% {
    transform: translateY(-40px);
  }
  25% {
    transform: translateY(0px);
  }
}

.instruction {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: "Cinzel", serif;
}
.game-box {
  display: flex;
  flex-direction: column;
  /* background-color: turquoise; */
  border-radius: 10px;
}
.game-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: wheat; */
  border-radius: 10px 10px 0px 0px;
}

.left-score-box {
  width: 20ch;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: rgb(154, 226, 219);
  font-family: "Cinzel", serif;
}

.left-score-box .guesses-left {
  margin: 0;
  margin-top: 1rem;
}

.left-score-box .highest-score-s {
  margin: 0;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}

#tries {
  color: red;
  margin-left: 1rem;
}

.highest-score {
  color: green;
  margin-left: 1rem;
}

.right-box-btn {
  margin-right: 1rem;
}

.right-box-btn a {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.1rem;
  color: black;
  background-color: rgb(154, 226, 219);
  border: none;
  border-radius: 10px;
  font-family: "Cinzel", serif;
}

.right-box-btn a:hover {
  background-color: rgb(192, 192, 192);
}

.play-box {
  width: 75%;
  margin: auto;
  margin-top: 2.5rem;
  border-radius: 20px;

  /* background-color: rgba(148, 86, 61, 0.993); */
  background-color: rgba(0, 0, 0, 0.65);
  background-image: url("./back.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
  box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
}

.play-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-box img {
  margin-top: 2rem;
}

.guess-val {
  width: 30%;
  min-width: 10ch;
  margin-top: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  border: none;
  border-radius: 30rem;
  -webkit-box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
  -moz-box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
  box-shadow: -4px -4px 39px 5px rgba(255, 255, 255, 0.53);
}

.guess-val::placeholder {
  font-size: 0.9rem;
}

.check-btn {
  width: 10ch;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(24, 144, 24);
  color: whitesmoke;
  font-family: "Cinzel", serif;
}

.check-btn:hover {
  background-color: rgb(26, 26, 26);
}

.hint {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: whitesmoke;
  /* max-width: 20ch; */
  font-family: "Cinzel", serif;
  padding: 15px;
  text-align: center;
}

.history-box {
  /* text-align: center; */
  background-color: rgb(154, 226, 219);
  width: 30%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  border-radius: 15px;
}

.history-title {
  font-weight: 800;
}

.history-guess-list {
  margin-right: 3rem;
}

/* winning styles */
.winbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 3.5rem;
}

.losebox {
  background-color: rgb(116, 19, 75);
}

.winbox img {
  margin-top: 3rem;
}

.winbox .congrat {
  margin-top: 2rem;
  font-size: 1.7rem;
}

.m2 {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.users-guess {
  font-size: 1.7rem;
}

.m3 {
  font-size: 2rem;
  margin-top: 0.8rem;
}

.m4 {
  font-size: 1rem;
  margin-top: 0.8rem;
}

.winbox button {
  margin-top: 0.8rem;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: green;
  color: white;
  font-size: 1rem;
}

#main-img {
  animation: mainImgAnimate 4s linear;
}

@keyframes mainImgAnimate {
  0% {
    transform: translateY(-1000px);
  }
  25% {
    transform: translateY(0px);
  }
}
